<% include header.ejs %>
		<div id="combat">
			<p>combat</p>
			<p><%= user_name %></p>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script> 
	<script src="/ejs.js"></script>
	<script>
		let socket = io.connect('http://localhost:3000');
		let user_data = {
				user_name : '<%= user_name %>'
				, user_attack_points : '<%= user_attack_points %>'
				, user_defense_points : '<%= user_defense_points %>'
				, user_agility_points : '<%= user_agility_points %>'
		 };
		socket.emit('NewPlayer', user_data);
	</script>
    </body>
</html>
